modules = ["python-3.11", "web", "bash"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run PyCheatEngine"

[[workflows.workflow]]
name = "Run PyCheatEngine"
author = 44250898
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install psutil"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Test GUI"
author = 44252882
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py --gui"

[[ports]]
localPort = 5000
externalPort = 80
