modules = ["python-3.11", "web", "bash"]
run = "python main.py"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run ProcessDark"

[[workflows.workflow]]
name = "Run PyCheatEngine"
author = 44250898
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install psutil"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Test GUI"
author = 44252882
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py --gui"

[[workflows.workflow]]
name = "Test GUI Fixed"
author = 44253613
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py --gui"

[[workflows.workflow]]
name = "Run ProcessDark"
author = 44305159
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install psutil"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "python main.py"]
